body{
    margin: 0;
    padding: 0;
}
                    /* SECTION-1 */
.logo{
    width: 200px;
    height: 60px;
}
.main-sec-1{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #23b57649;
}
nav a{
    text-decoration: none;
    color: rgb(12, 12, 12);
}
nav li{
    display: inline;
    margin: 0px 15px;
}

                                /* SECTION-2 */
.container{
    height: 350px;
    display: flex;
    justify-content: center;
    background-color: #23b57649;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.main-sec-2{
    width: 80%;
    display: flex;
}
.snd-sec{
    width: 50%;
    padding: 20px 40px;
}
.snd-sec img{
    width: 100%;
}
span{
    color:#23b575;
}
.snd-sec h1{
    font-size: 40px;
}
.snd-sec p{
    font-size: 20px;
    font-weight: 200;
}
.orange{
    color: orange;
}
.green-btn{
    background-color: #18c97c;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;

}
                                /* SECTION-3 */

.main-sec-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 11%;
    height: 250px;
    margin: 0px 3%;
    padding: 20px 2% 0px 2%;
    text-align: center;
    border-radius: 13px;
}
.card-body{
    width: 80%;
}
.main-sec-3 .card .card-body img{
    width: 100%;
}
.card1 img{
    width: 100px;
}
.card1, .card3, .card4{
    background-color: #23b5763f;
}
.card2{
    box-shadow: grey 4px 5px 12px 7px;
}
.card1 h2{
    margin-bottom: -8px;
    margin-top: -2px;
}
.card2 h2{
    margin-bottom: -8px;
}
.card3 h2{
    margin-bottom: -8px;
}
.card4 h2{
    margin-bottom: -8px;
}
.also{
    margin-bottom: 70px;
    margin-top: 80px;
}
                                    /* SECTION-4 */
.main-sec-4{
    width: 80%;
    display: block;
    margin: auto;
}
.frt-sec{
    text-align: center;
}
.fth-sec{
    display: flex;
    justify-content: center;
}
.cardy{
    width: 24%;
    box-shadow: grey 5px 5px 30px 0px;
    border: none;
    margin: 20px 30px;
    border-radius: 20px;
    border: none;
    padding: 15px 20px 5px 20px;
}
.cardy-body, .cardy-detail{
    width: 100%;
}
.cardy-detail{
    margin-top: -22px;
}
.cardy-detail h2{
    font-weight: 700;
    font-size: 28px;
}
.cardy-detail p{
    font-size: 20px;
}
.cardy .cardy-body .cardy-img img{
    width: 100%;
}
.crse-dtl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.crse-dtl p{
    font-size: 15px;
}
.crse-dtl img{
    width: 20px;
}

